meta charset="utf-8"
meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"
meta name="viewport" content="width=device-width, initial-scale=1.0"
title Netscanner
= csrf_meta_tags
/ = render 'shared/rollbar'
= favicon_link_tag 'favicon.ico'
= stylesheet_link_tag "application", media: "all"
= javascript_include_tag "application"
/ = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
/ = javascript_include_tag 'application', 'data-turbolinks-track' => true
/! Le HTML5 shim, for IE6-8 support of HTML elements
/[if lt IE 9]
  = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"
